<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Database.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=91.218.212.20;Initial Catalog=TheFunGame;Persist Security Info=True;User ID=sa;Password=&quot;d?yYev@,P=26P=RD&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>