<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MsgPack" version="0.1.0.2011042300" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="redis-64" version="3.0.503" targetFramework="net452" />
  <package id="RedisBoost" version="1.6.4" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.5.4" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.5.4" targetFramework="net452" />
</packages>